index.html.erb

<% @portfolio_items.each do |portfolio_items| %>
    <p><%=portfolio_items.title %></p>
    <p><%=portfolio_items.subtitle %></p>
    <p><%=portfolio_items.body %></p>
    <%= image_tag portfolio_items.thumb_image if !portfolio_items.thumb_image.nil?  %>
    <!-- if ! 대신 unless 가능 -->
    
<% end %>
    
